<div class="footer-dark .fixed-bottom">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 item">
					<h3>Servicios Disponibles</h3>
						<ul>
							<li><a href="store.html">Compra en linea</a></li>
							<li><a href="galeria.html">Galeria de productos</a></li>
							<li><a href="contactos.html">Datos de contacto</a></li>
							<li><a href="sucursales.html">Sucursales</a></li>
						</ul>
				</div>
					<div class="col-sm-6 col-md-3 item text">
						<h3> Contactanos !</h3>
							<p>(+56) 9 5618 6650</p>
							<p>Opción 1: Compra Telefonica</p>
							<p>Opción 2: Reserva de mesas</p>
							<p>Opción 3: Servicio al cliente</p>
					</div>
						<div class="col-md-6 item text">
							<h3>SmartRestaurant</h3>
								<p>Solución web para restaurantes y establecimientos de comida </p>
						</div>
					</div>
						<br>
                        <footer >
                            <ul class="social_icon">
                                <li> <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
                                <li> <a href="https://www.twitter.com"><i class="fab fa-twitter" ></i></a></li>
                                <li> <a href="https://www.instagram.com"><i class="fab fa-instagram" ></i></a></li>
                                <li> <a href="https://www.gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            </ul>  
                        </footer> 
					</div>
						<p class="copyright">SmartRestaurant © 2022</p>
                        
