<div class="container" id="about">  
	<div class="content">
		<h1 class="title-a">Conoce mas sobre nosotros</h1>
		<div class="about-section">
			<div class="inner-container">
				<p class="text">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Adipisci nulla nesciunt pariatur quo placeat quidem voluptas odio tempore architecto sequi earum, 
						dignissimos neque aliquid, porro autem reprehenderit atque non nisi.
				   </p>
			</div>
		</div>
		<div class="icons-container">
			<div class="icons">
				<i class="fas fa-shipping-fast"></i>
				<span>Productos frescos</span>
			</div>
			<div class="icons">
				<i class="fas fa-dollar-sign"></i>
				<span>Todo medio de pago</span>
			</div>
			<div class="icons">
				<i class="fas fa-headset"></i>
				<span>Abierto fin de semanas y feriados</span>
			</div>
		</div>
	</div>