
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a routerLink="" class="navbar-brand">
			<img src="../../assets/img/iconheadnav.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
			SmartRestaurant
		</a>
		{{message}}
		<a href="#" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>

		</a>
		<div class="collpase navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
				<li class="nav-item"><a routerLink="aboutus" class="nav-link">About</a></li>
				<li class="nav-item"><a routerLink="menu" class="nav-link">Menu</a></li>
				<li class="nav-item"><a routerLink="mesas" class="nav-link">Mesas</a></li>
				<li class="nav-item" ><a routerLink="staff" class="nav-link">Staff</a></li>
				<li class="nav-item"><a routerLink="comments" class="nav-link">Testimonios</a></li>
				<li class="nav-item active"><a routerLink="login" class="nav-link">Ingresar</a></li>
				<li class="nav-item active"><a routerLink="signup" class="nav-link">Registrar</a></li>
			</ul>
		</div>
	</div>
</nav>